body {
    padding:1px;
    background: #fff;
}


#produtos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
}

    .pizza {
        background: url('IMG-20241205-WA0002.jpg');
    }

    .promocao {
        background: url('IMG-20241204-WA0012.jpg');
    }

    .esfiha {
        background: url('IMG-20241205-WA0003.jpg');
    }

    .fogazza {
        background: url('IMG-20241204-WA0007.jpg');
    }

    .beirute {
        background: url('IMG-20241204-WA0010.jpg');
    }

    .pastel {
        background: url('IMG-20241204-WA0008.jpg');
    }

    .produto {
        height: 170px;
        border-radius: 10px;
        background-size: cover;
    }

    .titulo {
        margin-top: 141px;
        background: #000;
        color: #fff;
        padding: 5px 10px;
        font-size: 16px;
        font-family: 'Trebuchet MS';
        letter-spacing: 4px;
        text-transform: uppercase;
        opacity: 0.85;
        border-radius: 0px 0px 10px 10px;
    }

    .produto:hover {
        opacity: 0.9;
        transform: scale(1.1);
        transition: all 0.3s ease;
        cursor: pointer;
    }


header#empresa {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #d10a00;
}

    .icone {
        float: right;
    }

    .linkcomp {
        margin-right: 20px;
        text-decoration: none;
        color: inherit;
    
    }

#informacoes {
    display:flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Trebuchet MS';
    font-size: small;
}

    .ponto {
        margin-right: 35px;
        margin: 0%;
    }

    .pedidominimo {
        margin-right: 35px;
    }

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    padding: 10px;
    z-index: 999;
}

    .linkmenu {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-items: center;
        gap: 20px;
        background: #fff;
        }


    /* Começo da Tela PC */
@media screen and (min-width: 1281px) {

    #produtos {
        grid-template-columns: repeat(6, 1fr);
    }

    #informacoes {
        font-size: large;
    }
    
    .ponto {
        margin-right: 300px;
        margin: 0%;
    }
    
    .pedidominimo {
        margin-right: 300px;
    }
}
    /* Fim da tela PC */

    /* Começo da Tela Netbook */
@media screen and (min-width: 1025px) and (max-width: 1280px) {

    #produtos {
        grid-template-columns: repeat(4, 1fr);
    }

    #informacoes {
        font-size: large;
    }
    
    .ponto {
        margin-right: 300px;
        margin: 0%;
    }
    
    .pedidominimo {
        margin-right: 300px;
    }
}
    /* Fim da Tela Netbook */

    /* Começo da Tela Tablets */
@media screen and (min-width: 769px) and (max-width: 1024px) {

    #produtos {
        grid-template-columns: repeat(3, 1fr);

    }

    #informacoes {
        font-size: large;
    }
    
    .ponto {
        margin-right: 300px;
        margin: 0%;
    }
    
    .pedidominimo {
        margin-right: 300px;
    }

}
    /* Final da Tela Tablets */